body {
    background-color: #e9f2f7;
    font-family: sans-serif;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 30px rgb(89, 143, 229);
    border-radius: 8px;
}

div {
    border: solid 2px rgb(89, 143, 229);
    border-radius: 8px;
    padding: 20px;
}

